<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/styles.css')}}" >
</head>
<body>
        <div class="nav">
            <img id="logo" src="{{url_for('static',filename='pic/logo.png')}}" alt="Oops! logo isn't available.">
            <ul>
                    {% if current_user.is_authenticated %}
                            {% block Acc_Blog %}
                            {% endblock %}
                            <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                    {% else %}
                        {% block NavBtn %}
                        <!-- here will come login/register button/s -->
                        {%endblock%}
                {% endif %}
            </ul>
            {% with messages =get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                <div class="{{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        
    <script src="{{ url_for('static',filename='JS/App.js') }}"></script>
</body>
</html>