{% extends 'layout.html' %}
{% block NavBtn %}
<li><a href="{{url_for('users.login')}}">Login</a></li>
{% endblock %}
{% block content %}
<form class="request-box" action="#" method="POST">
    {{form.hidden_tag()}}

    {{form.password.label()}}
    <br>
    {% if form.password.errors %}
        {{form.password(class="invalid")}}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
            <span>{{error}}</span>
        </div>
        {% endfor %}
    {% else %}
        {{form.password()}}
    {% endif %}
<br>
<br>
{{form.confirm_password.label()}}
    <br>
    {% if form.confirm_password.errors %}
        {{form.confirm_password(class="invalid")}}
        {% for error in form.confirm_password.errors %}
        <div class="invalid-feedback">
            <span>{{error}}</span>
        </div>
        {% endfor %}
    {% else %}
        {{form.confirm_password()}}
    {% endif %}
<br>
<br>
    {{form.submit()}}
    <br><br>
    <small style="font-weight: bold;">Don't have an account?<a href="{{url_for('users.register')}}">Create new one!</a></small>
</form>
{% endblock %}